/*region global*/
/*--------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: Barlow;
    src: url("res/fonts/barlow/Barlow-Regular.ttf");
}

:root {
    --color_foreground: whitesmoke;
    --color_background: dimgray;
    --color_accent: aqua;
    --color_secondary: MediumTurquoise;
    --color_greyed: silver;
}

html,
body{
    height: 98%;
}

body {
    background: var(--color_background);
    color: var(--color_foreground);
    font-family: Barlow, monospace;
}

.boxedContent {
    margin-left: 20%;
    margin-right: 20%;
}

header {
    height: 15%;
    width: 100%;
    margin-top: 1%;
}

.app {
    display: flex;
    height: 85%;
    width: 100%;
    border: 0.1em solid var(--color_foreground);
    border-top-left-radius: 2em;
}

a {
    color: var(--color_accent);
}

h2 {
    margin-top: 60px;
}

.linkButton {
    width: 50%;
    border: 1px solid var(--color_foreground);
    border-radius: 0.2em;
    padding: 0.2em;
    background: var(--color_background);
    color: var(--color_accent);
    transition: 0.5s;
    font-size: 1.2em;
    margin: auto;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*endregion*/

/*region utility*/
/*--------------------------------------------------------------------------------------------------------------------*/

.italic {
    font-style: italic;
}

.bold {
    font-weight: bolder;
}


.cohesive {
    margin-bottom: -0.4em;
}

.centered {
    text-align: center;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.greyed {
    color: var(--color_greyed);
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*endregion*/

/*region UI*/
/*--------------------------------------------------------------------------------------------------------------------*/

.output {
    flex-grow: 100;
}

.output > canvas {
    width: 100%;
    height: 100%;
}

.ui {
    height: 100%;
    min-width: 15em;
    max-width: 25em;
    width: 30%;
    border-right: 0.1em solid var(--color_foreground);
    overflow-y: auto;
}

.ui > div {
    width: 94%;
    padding: 3%;
    border-bottom: 0.1em solid var(--color_foreground);
}

.ui > div > input[type="checkbox"], .ui > div > input[type="radio"] {
    appearance: none;
}

.ui > div > input[type="checkbox"]+label, .ui > div > input[type="radio"]+label {
    margin-left: -0.75em;
}

.ui > div > input[type="checkbox"]+label::before, .ui > div > input[type="radio"]+label::before {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: 0.1em solid var(--color_foreground);
    background-color: var(--color_background);
    content: "";
    float: right;
}

.ui > div > input[type="checkbox"]:checked+label::before, .ui > div > input[type="radio"]:checked+label::before {
    box-shadow: inset 0 0 0 0.25em var(--color_background);
    background-color: var(--color_accent);
}

.ui > div > input[type="button"] {
    width: 50%;
    border: 1px solid var(--color_foreground);
    border-radius: 0.2em;
    padding: 0.2em;
    background: var(--color_background);
    color: var(--color_accent);
    transition: 0.5s;
    font-size: 1.2em;
    margin: auto;
}

.ui > div > input[type="button"]:hover {
    background: var(--color_secondary);
    color: var(--color_foreground);
    border: 1px solid var(--color_secondary);
    cursor: pointer;
}


.ui > div > input[type="range"] {
    -webkit-appearance: none;
    width: 70%;
    margin-top: 0.4em;
    float: right;
    background: linear-gradient(
            to right,
            var(--color_accent) 0%, var(--color_accent) 10%,
            var(--color_background) 10%, var(--color_background) 100%
    );
    margin-right: -1px;
}

.ui > div > input[type="range"]::-webkit-slider-runnable-track {
    height: 0.4em;
    cursor: pointer;
    border-radius: 0;
    border: 0.1em solid var(--color_foreground);
}

.ui > div > input[type="range"]::-webkit-slider-thumb {
    border: 0.1em solid var(--color_foreground);
    border-radius: 1em;
    height: 1.5em;
    width: 1.5em;
    background: var(--color_background);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.67em;
}

/*firefox fixes (still looks kinda shit .. acceptable - but shit)*/

.ui > div > input[type="range"]:-moz-read-only {
    margin-top: 0;
}

.ui > div > input[type="range"]::-moz-range-track {
    height: 1.2em;
    cursor: pointer;
    border-radius: 0;
    border: 0.1em solid var(--color_foreground);
}

.ui > div > input[type="range"]::-moz-range-thumb {
    border: 0.1em solid var(--color_foreground);
    border-radius: 1em;
    height: 1.5em;
    width: 1.5em;
    background: var(--color_background);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.67em;
}

.ui > div > select {
    width: 90%;
    background: var(--color_background);
    color: var(--color_foreground);
    border: 1px solid var(--color_foreground);
    border-radius: 0.2em;
    padding: 0.2em;
    transition: 0.5s;
    font-size: 1.2em;
    margin: auto;
}

.ui > div > select > option {
    text-align: center;
}

.reactive_range {
    /*dummy for js*/
}

.space {
    height: 1px;
    margin: 0em;
    padding: 0em;
    background: var(--color_greyed);
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*endregion*/
